extends ../layout.pug

block content
  style.
    body {
      background-color: #f0f0f0;
    }

  div.container
    div.row.justify-content-center
      div.col-4
        br
        br
        br
        br
        h3.text-center Login
        #root

block scripts
  script(src='/js/login.bundle.js')